<div class="login-wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <section class="title">
      <h3 class="welcome">Добро пожаловать!</h3>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Логин</label>
        <input type="text" name="username" clrInput placeholder="Логин или почта"
               formControlName="usernameOrEmail"/>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Пароль</label>
        <input type="password" name="password" clrPassword placeholder="Пароль" formControlName="password"/>
      </clr-password-container>
      <div class="error active" *ngIf="loginError">
        {{this.logErrorMessage}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="signUpSuccess">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">{{this.logErrorMessage}}</span>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="login-button">ВОЙТИ</button>
      <a type="button" class="signup" (click)="modalOpened = true" style="cursor: pointer">ЗАРЕГИСТРИРОВАТЬСЯ</a>
    </div>
  </form>
</div>

<clr-modal [(clrModalOpen)]="modalOpened" [clrModalClosable]="false">
  <h3 class="modal-title">Регистрация</h3>
  <div class="modal-body">
    <div *ngIf="!proccedRegistration">
      <form clrForm [formGroup]="registrationForm">
        <clr-input-container>
          <label>Выберите логин</label>
          <input clrInput type="text" placeholder="Логин" name="username" formControlName="username"/>
          <clr-control-error>Минимальная длина: 5</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Пароль</label>
          <input clrInput type="password" placeholder="Пароль" name="password" formControlName="password"/>
          <clr-control-error>Минимальная длина: 8</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Почта</label>
          <input clrInput type="email" placeholder="e-mail" name="email" formControlName="email"/>
          <clr-control-error>Некорректный адрес почты</clr-control-error>
        </clr-input-container>
      </form>
      <div class="alert alert-danger" role="alert" *ngIf="regError">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
            {{this.regErrorMessage}}
          </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalOpened = false">закрыть</button>
        <button type="button" class="btn btn-primary" (click)="registration()">Зарегистрироваться</button>
      </div>
    </div>
    <div style="width: 100%; height: 90px" *ngIf="proccedRegistration">
      <div style="display: block; width: 100%; text-align: center; vertical-align: center">
        <clr-spinner></clr-spinner>
      </div>
    </div>
  </div>
</clr-modal>
