<div class="main-container">
  <app-header></app-header>

  <div class="content-container">
    <div style="display: flex; height: 100%; width:100%">
      <app-sidebar></app-sidebar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
