.dashboard-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10px;
  flex-wrap: wrap;
  height: 100%;
}

@media (max-width: 1279px) {
  .dashboard-toolbar {
    padding: 0 30px;
  }
}

@media (max-width: 1023px) {
  .dashboard-toolbar {
    justify-content: center;
  }
}

@media (max-width: 1579px) and (min-width: 1280px) {
  .dashboard-toolbar-item:last-child {
    margin: 0 auto;
  }
}

:host {
  overflow: auto;
  width: 100%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard-grid {
  height: 100%;
  width: 100%;
}

.dashboard-toolbar-item {
  width: 315px;
  height: 273px;
  margin-right: 15px;
}

.dashboard-step {
  padding-left: 180px;
}

.clr-input-group {
  margin-right: 0;
  margin-left: auto;
}
